*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
 body{
    width: 100%; 
    height: 100vh;
    background: #334155;
    color: #fff;

}

.main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.main>h1{
    margin-bottom: 30px;
    text-decoration: underline;
}
.game-board{
    display: grid;
    grid-template-columns: repeat(3, minmax(90px, 1fr));

}
.cell{
    border: 2px solid #fff;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vw;
    font-weight: 600;
    height: 100px;
    cursor: pointer;
    color: rgb(189, 102, 3);
}
.cell:first-child, 
.cell:nth-child(2), 
.cell:nth-child(3){
    border-top: none;
}
.cell:nth-child(3n){
    border-right: none;
}
.cell:nth-child(3n+1){
    border-left: none;
}
.cell:nth-child(n+7){
    border-bottom: none;
}

.game-players{
    display: flex;
    /* justify-content: space-between; */
    gap: 30px;

    margin-top: 20px;

}
.player{
    margin-inline: 18px;
    font-size: 1.5vw;
    opacity: .8;
    font-weight: 600;
}

button{
    border: none;
    background-color: #5f5fc4;
    color: #fff;
    font-size: 2vw;
    border-radius: 7px;
    font-weight: 500;
    padding: 10px 30px;
    margin-block: 18px;
    cursor: pointer;
}
button:hover{
    background-color: #5a5a9b;
}


.game-result {
    background-color: lightblue;
    color: #000;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .disabled {
    pointer-events: none;
    background-color: #eeeeee63;
    color: #000;
  }

  @media (max-width: 550px) {
    .main>h1{
        font-size: 25px;
    }
    .game-board{
        grid-template-columns: repeat(3, minmax(70px, 1fr));
    }
    .cell{
        font-size: 30px;
        height: 70px;
    }
    .player{
        font-size: 20px;
    }
    button{
        font-size: 18px;
    }
    .game-result{
        font-size: 18px;
    }
  }

